@model DTOLayer.DTOs.ContactDTOs.SendMessageDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Bize Ulaşın</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Default/Index/">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> İletişim Sayfası </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- contact-form -->
<section class="w3l-contact" id="contact">
    <div class="contact-infubd py-5">
        <div class="container py-lg-3">
            <div class="contact-grids row">
                <div class="col-lg-6 contact-left">
                    <div class="partners">
                        <div class="cont-details">
                            <h5>İletişim Bilgilerimiz</h5>
                            <p class="mt-3 mb-4">
                                 Bize 7 gün 24 saat whatsapp, mail, mesaj gibi iletişim ağlarımız üzerinden ulaşabilirsin.
                            </p>
                        </div>
                        <div class="hours">
                            <h6 class="mt-4">Mail Adresimiz:</h6>
                            <p>
                                <a href="mailto:info@bodrumkonserleri.com">
                                    info@bodrumkonserleri.com
                                </a>
                            </p>
                            @*<h6 class="mt-4">Ofisimize Gelin:</h6>
                            <p> Cumhuriyet Caddesi, 19 Mayıs Sokak No:23 Gümbet/Bodrum.</p>*@
                            <h6 class="mt-4">İletişim:</h6>
                            <p class="margin-top"><a href="tel:+90 531 613 0927">+90 531 613 0927</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                    <form method="post" class="signin-form">
                        <div class="input-grids">
                            <div class="form-group">
                                <input type="text" placeholder="Adınız*" asp-for="Name" class="contact-input" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Mail Adresiniz*" asp-for="Mail" class="contact-input" required="" />
                                <span asp-validation-for="Mail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Konu*" asp-for="Subject" class="contact-input" />
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea asp-for="MessageBody" placeholder="Bu alana mesajınızı yazabilirsiniz*" required=""></textarea>
                            <span asp-validation-for="MessageBody" class="text-danger"></span>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-style btn-primary">Mesajı Gönder</button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="map mt-5 pt-md-5">
                <h5>Harita</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25481.657151413754!2d27.36244136866197!3d37.02870704686366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14be6da8da76b8ff%3A0xf00531102b57a74c!2zR8O8bWJldCwgNDg0MDAgQm9kcnVtL011xJ9sYQ!5e0!3m2!1str!2str!4v1686842054334!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>