<div class="best-rooms py-5">
   
    <div class="container py-md-5">
        <h6 class="sub-title">Ana sponsorumuz olan Bodrum Lİdya Suİt Otel</h6>
        <h3 class="hny-title"> yenilenmiş yüzü İle misafİrlerini bekliyor.</h3>
        <br />
        <div class="ban-content-inf row">

            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius  m-0">
                        <img class="img-fluid" src="~/Traversal-Liberty/assets/images/lidya.png" alt="" />
                        <figcaption>
                            <div>
                                <h4>Rezervasyon için: 08502207548-05316130927</h4>
                                <p>
                                    Tesis lokasyon bilgileri
                                    Ayrıca denize 5 dk. yürüme mesafesinde olup market, restoran, kuaför salonları, alışveriş merkezlerine yakındır.
                                </p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/lidya havuz.png" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>BODRUM LİDYA SUİT OTEL</h4>
                                        <p></p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/yatak.png" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>BODRUM LİDYA SUİT OTEL</h4>
                                        @*<p>675$'dan başlayan fiyatlar</p>*@
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/lidya_lavobo.png" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>BODRUM LİDYA SUİT OTEL</h4>
                                        @*<p>12.000₺'den başlayan fiyatlar</p>*@
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/salon.png" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>BODRUM LİDYA SUİT OTEL</h4>
                                      @*  <p>1280€'dan başlayan fiyatlar</p>*@
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>